.Error {
	width: 14px;
	height: 13px;
	background-position: 0 0;
}

.Important (2) {
	width: 14px;
	height: 13px;
	background-position: 0 -20px;
}

.Information {
	width: 14px;
	height: 13px;
	background-position: 0 -40px;
}

.Invitation {
	width: 14px;
	height: 13px;
	background-position: 0 -60px;
}

.Letter {
	width: 14px;
	height: 13px;
	background-position: 0 -80px;
}

.Success (2) {
	width: 14px;
	height: 13px;
	background-position: 0 -100px;
}

.alert {
	width: 21px;
	height: 18px;
	background-position: 0 -120px;
}

.attention_profile {
	width: 14px;
	height: 13px;
	background-position: 0 -145px;
}

.attention_profile-2 {
	width: 14px;
	height: 13px;
	background-position: 0 -165px;
}

.bell {
	width: 65px;
	height: 80px;
	background-position: 0 -185px;
}

.current-user-important {
	width: 27px;
	height: 25px;
	background-position: 0 -270px;
}

.current-user-important-active {
	width: 38px;
	height: 37px;
	background-position: 0 -300px;
}

.down {
	width: 38px;
	height: 37px;
	background-position: 0 -345px;
}

.envelope {
	width: 39px;
	height: 32px;
	background-position: 0 -390px;
}

.gold {
	width: 14px;
	height: 11px;
	background-position: 0 -430px;
}

.important {
	width: 30px;
	height: 30px;
	background-position: 0 -450px;
}

.important_big {
	width: 42px;
	height: 42px;
	background-position: 0 -485px;
}

.info {
	width: 19px;
	height: 19px;
	background-position: 0 -535px;
}

.message {
	width: 25px;
	height: 20px;
	background-position: 0 -560px;
}

.message-active {
	width: 43px;
	height: 37px;
	background-position: 0 -585px;
}

.message_empty {
	width: 27px;
	height: 20px;
	background-position: 0 -630px;
}

.message_empty-active {
	width: 45px;
	height: 37px;
	background-position: 0 -655px;
}

.notification {
	width: 35px;
	height: 39px;
	background-position: 0 -700px;
}

.notification - копия {
	width: 35px;
	height: 39px;
	background-position: 0 -745px;
}

.notification-active {
	width: 35px;
	height: 39px;
	background-position: 0 -790px;
}

.notification-active - копия {
	width: 35px;
	height: 39px;
	background-position: 0 -835px;
}

.premium {
	width: 18px;
	height: 16px;
	background-position: 0 -880px;
}

.sign-off {
	width: 13px;
	height: 12px;
	background-position: 0 -905px;
}

.success {
	width: 16px;
	height: 15px;
	background-position: 0 -925px;
}

.up {
	width: 38px;
	height: 38px;
	background-position: 0 -945px;
}

.up_filled {
	width: 19px;
	height: 19px;
	background-position: 0 -990px;
}

.wg-logo {
	width: 39px;
	height: 39px;
	background-position: 0 -1015px;
}

.wot {
	width: 30px;
	height: 33px;
	background-position: 0 -1060px;
}

.wotb {
	width: 31px;
	height: 35px;
	background-position: 0 -1100px;
}

.wotg {
	width: 38px;
	height: 38px;
	background-position: 0 -1140px;
}

.wow {
	width: 30px;
	height: 34px;
	background-position: 0 -1185px;
}

.wowp {
	width: 46px;
	height: 33px;
	background-position: 0 -1225px;
}

.Error, .Important (2), .Information, .Invitation, .Letter, .Success (2), .alert, .attention_profile, .attention_profile-2, .bell, .current-user-important, .current-user-important-active, .down, .envelope, .gold, .important, .important_big, .info, .message, .message-active, .message_empty, .message_empty-active, .notification, .notification - копия, .notification-active, .notification-active - копия, .premium, .sign-off, .success, .up, .up_filled, .wg-logo, .wot, .wotb, .wotg, .wow, .wowp {
	background-size: 70px 1265px;
	background-repeat: no-repeat;
	background-image: url("dr-logos-tv-sprite.png");
}

.svg .Error, .svg .Important (2), .svg .Information, .svg .Invitation, .svg .Letter, .svg .Success (2), .svg .alert, .svg .attention_profile, .svg .attention_profile-2, .svg .bell, .svg .current-user-important, .svg .current-user-important-active, .svg .down, .svg .envelope, .svg .gold, .svg .important, .svg .important_big, .svg .info, .svg .message, .svg .message-active, .svg .message_empty, .svg .message_empty-active, .svg .notification, .svg .notification - копия, .svg .notification-active, .svg .notification-active - копия, .svg .premium, .svg .sign-off, .svg .success, .svg .up, .svg .up_filled, .svg .wg-logo, .svg .wot, .svg .wotb, .svg .wotg, .svg .wow, .svg .wowp {
	background-image: url("dr-logos-tv-sprite.svg");
}
